{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 id="homepage_titulo" class="text-center"><span>Bienvenido a </span>ppt</h1>
            </div>
            <div id="partidos" class="teble-responsive">
                <table class="table">
                    <tbody>
                        {%  set fecha = '' %}
                        {% for partido in partidos %}
                            {% if fecha != partido.fecha | date('d/m/Y') %}
                                <tr>
                                    <td colspan="6" class="text-center">{{  partido.fecha | date('d/m/Y') }}</td>
                                </tr>
                                {%  set fecha =  partido.fecha | date('d/m/Y') %}
                            {% endif %}
                            <tr>
                                <td>{{  partido.fecha | date('H:i') }}</td>
                                <td>{{  partido.agrupamiento.nombre }}</td>
                                <td>{{  partido.equipoLocal.nombre }}</td>
                                <td>{% if partido.golesLocal %}{{  partido.golesLocal }}{% else %}-{% endif %}</td>
                                <td>{% if partido.golesVisitante %}{{ partido.golesVisitante }}{% else %}-{% endif %}</td>
                                <td>{{  partido.equipoVisitante.nombre }}</td>
                                <td>
                                    {% if app.user %}
                                        <a id="partido_usuario_new" class="btn btn-success" href="{{ path('partido_usuario_new', { 'partido_id': partido.id, 'usuario_id': app.user.id }) }}" role="button">Pronosticar</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
